
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>



@section scripts {
    <script>

        $(document).ready(
            function () {
                Searcher.BindSearch($("#searchbotton"));
            }
);

    </script>
}
<div class="row">
 
    <div class="col-lg-3 pull-right-9">
        <div class="input-group">
            <input type="text" class="form-control"  id = "searchText" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" id="searchbotton" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="list-group" id="searchResult">
     
</div>
@Scripts.Render("~/bundles/search")