
@model Booking.Consumer
@{

    ViewBag.Title = "Consumer Overview";
}
@{ 
    if(Model.myBookedSlotList == null)
    {
        Model.myBookedSlotList = new List<Booking.BookedSlot>();

    }
    if(Model.MyBookableList == null)
    {
        Model.MyBookableList = new List<Guid>();
    }
} 

@section scripts { 
    
<script>

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
              .toString(16)
              .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
          s4() + '-' + s4() + s4() + s4();
    }
    $(document).ready(function () {

    $('#calendar').fullCalendar({
        theme: true,
        header: {
            left: '',
            center: '',
            right: ''
        },
        defaultView: 'agendaDay',
        editable: true,
        events: "/Consumer/GetEvents/",
        selectable: true,
        selectHelper: true,
        eventClick: function (calEvent, jsEvent, view) {
            $('#cancel-event').attr("data-id", calEvent.id);
            //  alert('Event: ' + calEvent.title + ' Start: ' + calEvent.start);
            $('#cancelText').text('Cancel ' + 'Event: ' + calEvent.title + ' Start: ' + calEvent.start.utc().format() + ' with id of '+calEvent.id+'?');
            $('#cancelModal').modal("show");
            // change the border color just for fun
            $(this).css('border-color', 'red');

        },
        select: function(start, end) {
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
            eventData = {
                id : guid(),
                title: title,
                start: start,
                end: end
            };
            $.post("/Consumer/BookEvent/", { eventStart: eventData.start.utc().format(), eventEnd: eventData.end.utc().format(), name: eventData.title }, function (data) {
                $(".result").html(data);
            });
            $('#calendar').fullCalendar('renderEvent', eventData, true);
  
        }
        $('#calendar').fullCalendar('unselect');
    },
    editable: true,
    eventLimit: true
    });

    $('#cancel-event').on(
             'click',
             function (evt) {
                 console.log('triggered' + $('#cancel-event').attr("data-id"));
                 $('#calendar').fullCalendar('removeEvents', $('#cancel-event').attr("data-id"));

             }
 );


    $('#datepicker').datepicker({
        inline: true,
        onSelect: function (dateText, inst) {
            var d = new Date(dateText);
            $('#calendar').fullCalendar('gotoDate', d);
        }
    });
   
});

</script>
    }
<h2>Consumer Overview</h2>
<div>
    <div class="formRowContainer">
        <div class="labelContainer ">
            @Html.LabelFor(model => model.Contact.Name)
        </div>
        <div class="valueContainer">
            @Html.TextBoxFor(model => model.Contact.Name, Model.Contact.Name)
        </div> 
    </div>
    <div class="container, row">
        <hr>
        <div id="datepicker" class="col-md-4"></div>
        <div id="calendar" class="col-md-8"></div>
    </div>
</div>

<div id="cancelModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             
            </div>
            <div class="modal-body">
                <p id="cancelText">Want to canel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="cancel-event">Yes, Cancel it</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->